---
---
<h2 class="text-3xl font-semibold mb-5">Iframe demo</h2>
<iframe height="600" width="600" class="w-full mb-10" title="Card hover effect" src="https://codepen.io/shubhamtiwari909/embed/GgpJebX?default-tab=result&theme-id=dark" loading="lazy" allowtransparency="true" allowfullscreen="true">
</iframe>

<h2 class="text-3xl font-semibold mb-5">Youtube video demo</h2>
<iframe width="560" height="600" class="w-full mb-10" src="https://www.youtube.com/embed/kmrZyByO8Qc?si=1Su4lxuE8nP6CiDK" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
