---
import { YouTube } from 'astro-embed';
---

<h2 class="text-3xl font-semibold mb-5">Iframe demo</h2>
<div
    class="iframe-facade"
    id="codepen-iframe"
>
</div>

<h2 class="text-3xl font-semibold mb-5">Youtube video demo</h2>
<YouTube id="https://www.youtube.com/embed/kmrZyByO8Qc?si=1Su4lxuE8nP6CiDK" class="w-full h-150 mb-10 !max-w-full" />


<style>
    .iframe-facade {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        cursor: pointer;
        background-color: #000;
        background-size: cover;
        background-position: center;
    }

    .iframe-facade::before {
        content: "▶";
        font-size: 4rem;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
</style>

<script>
    const codepenContainer: HTMLDivElement | null = document.querySelector("#codepen-iframe");
    function loadIframe(container: HTMLElement, iframeSrc: string) {
        const iframe = document?.createElement("iframe");
        iframe.src = iframeSrc;
        iframe.allow =
            "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";
        iframe.allowFullscreen = true;
        iframe.classList.add("w-full");
        iframe.classList.add("h-150");
        iframe.classList.add("mb-10");
        container?.replaceWith(iframe);
    }
    const observer = new IntersectionObserver((entries) => {
        if (entries[0].isIntersecting) {
            loadIframe(codepenContainer as HTMLElement, "https://codepen.io/shubhamtiwari909/embed/GgpJebX?default-tab=result&theme-id=dark");
            observer.disconnect();
        }
    }, { rootMargin: "100px" });
    observer.observe(codepenContainer as Element);
</script>
