---

---

<h2 class="text-3xl font-semibold mb-5">Iframe demo</h2>
<div
    class="iframe-facade"
    style="background-image: url('https://img.youtube.com/vi/VIDEO_ID/hqdefault.jpg')"
    id="codepen-iframe"
>
</div>

<h2 class="text-3xl font-semibold mb-5">Youtube video demo</h2>
<div
    class="iframe-facade"
    style="background-image: url('https://img.youtube.com/vi/VIDEO_ID/hqdefault.jpg')"
    id="youtube-iframe"
>
</div>

<style>
    .iframe-facade {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        cursor: pointer;
        background-color: #000;
        background-size: cover;
        background-position: center;
    }

    .iframe-facade::before {
        content: "▶";
        font-size: 4rem;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
</style>

<script>
    const youtubeContainer: HTMLDivElement | null = document.querySelector("#youtube-iframe");
    const codepenContainer: HTMLDivElement | null = document.querySelector("#codepen-iframe");
    function loadIframe(container: HTMLElement) {
        const iframe = document?.createElement("iframe");
        iframe.src = `https://www.youtube.com/embed/kmrZyByO8Qc?si=1Su4lxuE8nP6CiDK`;
        iframe.allow =
            "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";
        iframe.allowFullscreen = true;
        iframe.classList.add("w-full");
        iframe.classList.add("h-150");
        iframe.classList.add("mb-10");
        container?.replaceWith(iframe);
    }
    const observer = new IntersectionObserver((entries) => {
        if (entries[0].isIntersecting) {
            loadIframe(youtubeContainer as HTMLElement);
            loadIframe(codepenContainer as HTMLElement);
            observer.disconnect();
        }
    }, { rootMargin: "100px" });
    observer.observe(youtubeContainer as Element);
    observer.observe(codepenContainer as Element);
</script>
